<header>
	<!-- <h1>Welcome</h1>
		<nav> -->
			<!-- <ul>
				<li>Sign Up</li>
				<li>Sign In</li>
				<li>About</li>
			</ul> -->
			<!-- Goes directly to users profile/show page -->
	
<!-- Login takes the user to their profile page -->
	<div class="login">
	<ul>
		<form action="/users/login" method="POST">
			<li><h4><!-- Login --></h4></li>
			<li><input type="text" name="username" placeholder="username"></li>
			<li><input type="text" name="password" placeholder="password"></li>
			<li><button type="submit">Login</button></li>
		</form>
		</ul>
	</div>
			
		</nav>
</header>