<!DOCTYPE html>
<html>
	<% include ./partials/head %>
<body>


	<main>
<% include ./partials/nav %>





<!-- Redirects to users/index page to fill out more information -->
<div class="sign_up_container">
	<h4>Signup</h4>
	<form action="/users/signup" method="POST">
		<input type="text" name="username" placeholder="username"><br>
		<input type="text" name="email" placeholder="email"><br>
		<input type="password" name="password" placeholder="password"><br>
		<button class="signup_submit" type="submit">Submit</button>
	</form>
</div>

<button class="slide_button" id='start'>About</button>
</main>

<div class="about">
<div class="about_content">

<h2>About</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis nisi sit amet erat vestibulum, non fringilla metus efficitur. Vestibulum sit amet imperdiet ipsum. Donec neque quam, dignissim vel dolor eu, viverra sagittis sapien. Curabitur cursus auctor lectus vitae maximus. In dui tellus, vestibulum porta quam ac, suscipit semper ex. Nullam magna mauris, aliquet id congue eu, vulputate vitae velit. Suspendisse elementum consequat neque id consectetur. Morbi lobortis, dui ut dictum pharetra, neque nisl tincidunt felis, ac facilisis dui mi in mi. Praesent fringilla ex et nisi blandit dictum. Cras libero nisl, interdum non posuere ac, sollicitudin eu est. Phasellus nibh velit, faucibus sit amet viverra et, lobortis sed augue. Nulla accumsan justo sit amet vestibulum ornare. Suspendisse potenti. Nam feugiat tellus quis ante ultrices efficitur. Nam et dui mollis dolor condimentum feugiat eget nec tellus. Nunc sapien odio, vestibulum sed suscipit sit amet, tempor non velit.</P>
<br>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis nisi sit amet erat vestibulum, non fringilla metus efficitur. Vestibulum sit amet imperdiet ipsum. Donec neque quam, dignissim vel dolor eu, viverra sagittis sapien. Curabitur cursus auctor lectus vitae maximus. In dui tellus, vestibulum porta quam ac, suscipit semper ex. Nullam magna mauris, aliquet id congue eu, vulputate vitae velit. Suspendisse elementum consequat neque id consectetur. </p>
<button class="slide_button" id='top'>Sign Up</button>

</div>

</div>




</body>
</html>