<!DOCTYPE html>
<html>
	<% include ./partials/head %>
<body>

	
	<main>
<% include ./partials/nav %>



<h1 class="title">Welcome</h1>

<!-- Redirects to users/index page to fill out more information -->
<div class="sign_up_container">
	<h4>Signup</h4>
	<form action="/users/signup" method="POST">
		<input type="text" name="username" placeholder="username"><br>
		<input type="text" name="email" placeholder="email"><br>
		<input type="text" name="password" placeholder="password"><br>
		<button class="signup_submit" type="submit">Submit</button>
	</form>
</div>
</main>
<div class="about">


</div>




</body>
</html>