* {
	padding: 0;
	margin: 0;
}

body {
	background-color: snow;
	margin: auto;
	padding: auto;
	font-family: sans-serif;
	

}

main {
	padding-top: 200px;
	padding-left: 10%;
}

.player {
	width: 350px;
	margin-left: 10%;
}

header {
	background-color: rgb(38, 38, 38);
	height: 18%;
	z-index: 1;
}

.show_header {
	background-color: rgb(38, 38, 38);
	background-color: snow;
	width: 100%;
	/*opacity: .8;*/
	color: black;
	/*margin-bottom: 200px;*/
	position: fixed;
	border-bottom: 1px solid black;
}

a {
	text-decoration: none;
	color: black;
}

img	{
	border: black;
	height: 80px;
	width: 80px;
	border-radius: 100px;
	margin-top: 30px;
	margin-left: 10%
}

li {
	list-style: none;
	display: inline-block;
	padding-left: 10px;
}

.info_container {
	border: 1px solid gray;
	border-radius: 5px;
	width: 25em;
	margin-left: 10%;
	padding: 10px;
}

.delete_button {
	float: right;
	margin-top: 100px;
	margin-right: 10%;
}

.members_container h2 {
	margin-left: 50%;
	/*position: fixed;*/
	text-align: center;
	z-index: -1;
}

.members_container ul {
	margin-top: 30px;
	margin-left: 60%;
	margin-bottom: 200px;
	z-index: -1;
	/*position: fixed;*/
	height: 500px;
	width: 20em;
	background-color: grey;
	opacity: .4;
}

footer {

}
