<!DOCTYPE html>
<html>
	<% include ../partials/head %>
<body>
	<% include ../partials/nav %>

	<h4>Signup</h4>
		<form action="/users" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="email" placeholder="email">
			<input type="text" name="password" placeholder="password">
	<!-- 		<input type="submit">
		</form> -->
<!-- if sign up for is filled out, go to this next form -->
	<!-- 	<form action="/users" method="POST"> -->
			<input type="text" name="img" placeholder="img url">
			<input type="text" name="bio" placeholder="bio">
			<input type="text" name="instruments" placeholder="instruments">
			<input type="text" name="sound_cloud" placeholder="SoundCloud Profile">
			<input type="text" name="twitter" placeholder="Twitter Profile">
			<input type="text" name="facebook" placeholder="Facebook Profile">
			<input type="submit">
		</form>


<!-- Goes directly to users profile/show page -->
	<h4>Login</h4>
		<form action="/users/login" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="password" placeholder="password">
			<input type="submit">
		</form>



<% include ../partials/footer %>
</body>
</html>