<!DOCTYPE html>
<html>
	
<body>
	<a href="/users/logout"><p>Logout</p></a>
<!-- new users go here to fill out information -->
<h1>Users/index page</h1>
<br><br>
<h2>ONLY NEW USERS SHOULD REDIRECT TO THIS PAGE</h2>
<br><hr><br>
<h4>Tell Us About Yourself</h4>
<!-- users fills out this form to create a profile -->
<div class="info_container" id= "info_container">
		<form action="/users/<%=user.id%>/index" method="POST"> 
			<input type="text" name="img" placeholder="img url"><br>
			<input type="text" name="instruments" placeholder="instruments"><br>
			<input type="text" name="soundcloud" placeholder="SoundCloud Profile"><br>
			<input type="text" name="twitter" placeholder="Twitter Profile"><br>
			<input type="text" name="facebook" placeholder="Facebook Profile"><br><br>
			<input type="hidden" name="_method" value="POST"/>
			 <textarea class="bio" name="bio" rows="15" cols="50" placeholder="Bio"></textarea><br/>
			<input class= "submit" type="submit">
		</form>
</div>


<!-- Below here can be delted once all routes work -->
	<!-- <h4>Signup</h4>
		<form action="/users" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="email" placeholder="email">
			<input type="text" name="password" placeholder="password">
			<input type="submit">
		</form> -->
<!-- if sign up for is filled out, go to this next form -->


<!-- Goes directly to users profile/show page -->
	<!-- <h4>Login</h4>
		<form action="/users/login" method="POST">
			<input type="text" name="username" placeholder="username">
			<input type="text" name="password" placeholder="password">
			<input type="submit">
		</form>

 -->

<% include ../partials/footer %>
</body>
</html>