<!DOCTYPE html>
<html>
	<% include ../partials/head %>
<body>
	<% include ../partials/nav %>

<h4>Signup</h4>
				<form action="/users" method="POST">
					<input type="text" name="username" placeholder="username">
					<input type="text" name="email" placeholder="email">
					<input type="text" name="password" placeholder="password">
					<input type="submit">
				</form>

				<h4>Login</h4>
				<form action="/users/login" method="POST">
					<input type="text" name="username" placeholder="username">
					<!-- <input type="text" name="email" placeholder="email"> -->
					<input type="text" name="password" placeholder="password">
					<input type="submit">
				</form>
</script>


<% include ../partials/footer %>
</body>
</html>