<!DOCTYPE html>
<html>
	<% include ../partials/head %>
<body>
	<h1>Welcome, username </h1>
<body>

<!-- Logout link -->
<a href="/users/logout"><p>Logout</p></a>

<!-- list from SoundCloud of music genres -->
<!-- <ul id="results"> -->

<!-- Pops open soundcloud login window. -->
<a href="#" class="connect">Connect with SoundCloud</a>
  <p>Hello, your name is <span id="username"></span></p>

<!-- Sound cloud player widget -->
  <div class="player" id="player"> </div> 


<% include ../partials/footer %>
</body>
</html>

<!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
  </head>
  <body onload="window.setTimeout(window.opener.SC.connectCallback, 1)">
    <b style="text-align: center;">This popup should automatically close in a few seconds</b>
  </body>
</html> -->