<!DOCTYPE html>
<html>
	<% include ../partials/head %>
<body>
	<h1> <%= user.username %>'s Profile </h1>
<body>
		
<!-- Logout link -->
<a href="/users/logout"><p>Logout</p></a>

	<h4>More Info</h4>
<!-- Needs to be in a serperate router from sign up form -->
		<form action="/users/<%=user.id%>" method="POST"> 
			<input type="text" name="img" placeholder="img url">
			<input type="text" name="bio" placeholder="bio">
			<input type="text" name="instruments" placeholder="instruments">
			<input type="text" name="soundcloud" placeholder="SoundCloud Profile">
			<input type="text" name="twitter" placeholder="Twitter Profile">
			<input type="text" name="facebook" placeholder="Facebook Profile">
			<input type="hidden" name="_method" value="POST"/>
			<input type="submit">
		</form>

<!-- list from SoundCloud of music genres -->
<!-- <ul id="results"> -->

<!-- Pops open soundcloud login window. -->
<a href="#" class="connect">Connect with SoundCloud</a>
  <p>Hello, your name is <span id="username"></span></p>

<!-- Sound cloud player widget -->
  <div class="player" id="player"> </div> 


<% include ../partials/footer %>
</body>
</html>

<!-- <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
  </head>
  <body onload="window.setTimeout(window.opener.SC.connectCallback, 1)">
    <b style="text-align: center;">This popup should automatically close in a few seconds</b>
  </body>
</html> -->